HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Logs ###
*.log
logs/
!spring.log

### Temporary files ###
*.tmp
*.temp
*.swp
*.swo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/wrapper/maven-wrapper.properties
target/

### Spring Boot ###
spring-boot-devtools.properties

### VS Code ###
.vscode/

### Docker ###
*.war
*.jar
*.db

### Secrets ###
application.yml
application.properties
.env
